/*  Easter Bunny Tracker (track.easterbunny.cc) CSS Assets v4.5.4
    Copyright (C) 2020  track.easterbunny.cc 
    
    track.easterbunny.cc is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    track.easterbunny.cc is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with track.easterbunny.cc.  If not, see <https://www.gnu.org/licenses/>.
*/

/*
    Source code is available at https://gitlab.com/track-easterbunny-cc/tebcc
    License is available at https://track.easterbunny.cc/license
*/

.card {
    background-color: #313131 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),0 3px 1px -2px rgba(0, 0, 0, 0.7),0 1px 5px 0 rgba(0, 0, 0, 0.7)
}

.card, .card-header {
    color: #eee !important
}

.card-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.btn, .btn-override {
    color: #eee !important
}

.carrot-icon {
    background-image: url("/assets/icons/carrot-128x128-white.png");
    background-size: cover;
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
}

.basket-icon {
    background-image: url("/assets/icons/basket-128x128-white-2.png");
    background-size: cover;
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
}